.manage-wrapper {
  margin: 8px auto;
  padding: 4px;
  width: 800px;
}
.manage-wrapper .wrapper-table-dki {
  height: 100vh;
  overflow: scroll;
}
.manage-wrapper .option button {
  margin: 8px;
  padding: 8px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.manage-wrapper .option button:active {
  opacity: 0.5;
}
.manage-wrapper .option .btn-green {
  background-color: rgb(59, 207, 59);
}
.manage-wrapper .option .btn-red {
  background-color: rgb(241, 64, 64);
}
.manage-wrapper .option .btn-green.loading {
  opacity: 0.5;
}
.table-dki {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}
.table-dki td,
.table-dki th {
  border: 1px solid #ddd;
  padding: 8px;
}
.table-dki tr:nth-child(even) {
  background-color: #f2f2f2;
}
.btn-inc-star {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: greenyellow;
  font-weight: 600;
  padding: 4px;
}
.btn-inc-star:active {
  opacity: 0.5;
}
@media screen and (max-width: 800px) {
  .manage-wrapper {
    width: 100vw;
  }
}
@media screen and (max-width: 500px) {
}
