.user-infor {
  border: 2px solid lightgray;
  border-radius: 8px;
  height: max-content;
  width: 250px;
  padding: 4px;
}
.create-exam {
  background-color: lightblue;
  outline: none;
  border: 1px solid lightblue;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  font-weight: 600;
  margin: 4px 8px;
}
.stars {
  text-align: left;
  padding-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.stars button svg {
  font-size: 20px;
}
.stars div p {
  color: blue;
}
.stars div p span {
  margin-left: 8px;
  color: rgb(208, 0, 255);
}
.reload-stars {
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: antiquewhite;
  width: fit-content;
}
.loading {
  animation: spinner linear infinite 0.3s;
}
@media screen and (max-width: 800px) {
  .user-infor {
    width: 30%;
    padding: 2px;
  }
  .stars {
    padding-left: 8px;
    font-size: 14px;
  }
  .stars div p span {
    margin-left: 1px;
  }
}
@media screen and (max-width: 500px) {
  .user-infor {
    border: none;
    border-top: 2px solid lightgray;
    width: 100%;
    padding: 4px;
  }
  .stars div {
    display: flex;
    flex-wrap: wrap;
  }
  .stars div p {
    margin: 8px;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
