.content .q-title input {
  outline: none;
  border: 1px solid pink;
  width: 50px;
  text-align: center;
}
.content .create-question {
  position: relative;
  display: flex;
  justify-content: center;
}
.content .create-question p {
  font-size: 12px;
  color: red;
}
.content .create-question ul {
  list-style: none;
  margin-right: 8px;
}
.content .create-question ul li {
  margin: 6px 0;
}
.content .create-question ul li .delete-btn {
  color: red;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 8px;
}
.content .create-question input {
  width: 120px;
  height: 50%;
  color: blue;
  position: relative;
  margin: 8px;
  padding: 4px;
}
.content .create-question button {
  position: relative;
  height: max-content;
  width: auto;
  padding: 8px;
  margin: 8px;
  font-weight: 600;
  outline: none;
  background-color: rgb(100, 100, 210);
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all ease 0.854s;
}
@media screen and (max-width: 800px) {
  .wrapper {
    width: unset;
    margin: 0;
  }
  .content .q-title {
    font-size: 20px;
  }
  .content .question div label {
    font-size: 14px;
  }
  .content .question div input {
    width: 18px;
    height: 18px;
  }
  .user-infor {
    padding: 2px;
  }
  .user-infor .stars {
    padding-left: 8px;
    font-size: 14px;
  }
  .user-infor .stars div p span {
    margin-left: 1px;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    flex-direction: column;
    justify-content: start;
  }
  .content {
    width: 100%;
  }
  .content .q-title {
    font-size: 18px;
  }
  .user-infor {
    border: none;
    border-top: 2px solid lightgray;
    width: 100%;
    padding: 4px;
  }
}
