.wrapper {
  height: auto;
  width: 800px;
  margin: auto;
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
}
.content {
  height: max-content;
  width: 500px;
  padding: 4px;
}
.content .q-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.content .question {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  flex-wrap: wrap;
}
.content .question div {
  width: 80px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content .question div label {
  font-size: 18px;
  margin-left: 4px;
}
.content .question div input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.content button {
  height: auto;
  width: auto;
  padding: 8px;
  margin: 8px;
  font-weight: 600;
  outline: none;
  background-color: rgb(117, 117, 233);
  border-radius: 4px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all ease 0.854s;
}
.content button:hover {
  opacity: 0.88;
}
.content button:active {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: unset;
    margin: 0;
  }
  .content {
    width: 66%;
  }
  .content .q-title {
    font-size: 20px;
  }
  .content .question div label {
    font-size: 14px;
  }
  .content .question div input {
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    flex-direction: column;
    justify-content: start;
  }
  .content {
    width: 100%;
  }
  .content .q-title {
    font-size: 18px;
  }
}
